/* the modal in general borrowed from bootstrap */ 
.link-deets {
  cursor:pointer;
  text-decoration: underline;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #aab4c1;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.modal {
  position: absolute;
  top: 28%;
  left: 56%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.fade.in {
  top: 10%;
}

.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}

.modal-header .close {
  margin-top: 2px;
  
}

.modal-header h3 {
  margin: 0;
  line-height: 30px;
}

.modal-body {
  position: relative;
  padding: 15px;
  padding-top:4px;
  overflow-y: auto;
}

.modal-form {
  margin-bottom: 0;
}

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}



/* our specific elements */

    #prod-details {
      text-align:center;
      width:430px;
      background-color:#fff;
      display:none; 
    } 


      h3.modHeader {
       font:normal 25px Georgia;
       color:#000;
       width:100%;
       padding-left:0;
       padding-right:0;
       
     }

     h5.unltd {
      font:normal 16px Georgia;
      color:#000;
      margin-bottom:14px;
     }

     .modCloser {
      position:absolute;
      right:10px;
      /*left:384px;*/
      top:10px;
      font:12px Arial;
      border:1px solid #666;
      padding:3px;
      cursor:pointer;
      width:24px;
     }
      p.dotcom {
        border-bottom:1px dotted #ccc;
        border-top:1px dotted #ccc;
        padding-top:15px;
        padding-bottom:10px;
        margin:0 auto;
        width:80%;
      }

     div.devices {
      border-bottom:1px dotted #ccc;
        margin:12px auto;
        width:80%;  
        padding-bottom:0px;    
     }

     p.modText, h4.modSubHead {
       font:bold 12px Helvetica; 
       text-transform: uppercase;
       color:#000;
     }
     h4.modSubHead {
       margin-bottom:0;
       padding-bottom:0;
       color:#000;
     }

     span.modEm {
      color:#db6a1f;
     }

     div.plustag {

      margin:8px auto;
      width:80%;   
      border-bottom:1px dotted #ccc;
      padding-bottom:8px;
      padding-top:0px;
     }

     p.plusText {
      font:22px Georgia;
      font-style: italic;
      color:#000;
      margin:0;
      padding:0;
     }

     p.archiver {
      border-bottom:1px dotted #ccc;
      margin:0 auto;
      width:80%;
      padding-bottom: 8px;

     }

    p.shareAda {
      width:100%;
      border:none;
      margin-bottom:8px;
    } 

    p.specialBorder {
      margin:0 auto;
      margin-bottom:12px;
      width:80%;
      height:2px;
      border-bottom:1px dotted #ccc;
    }
     p.ratetalk {
      line-height:1.3;
      color:#000;
      margin-top:10px;
     }

     p.deviceText {
      font:normal 12px Helvetica; 
      margin-top:3px;
      margin-bottom:0px;
      padding-bottom:10px;
      line-height: 1.3;
      color:#000;
     }