/* -----------------------------------------------------------------------------
 * Main Style
 * ----------------------------------------------------------------------------- */
html {
    overflow-y:scroll;
}

html, body {
    background:#fff;
    font:14px/14px Arial, sans-serif normal;
    color:#4d4f52;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}
a {
    color:#4d4f52;
    text-decoration:none;
}
a:hover {
    text-decoration:none;
}
ul {
    list-style:none;
    margin:0;
    padding:0;
}
.clear {
    clear:both;
}
/* -----------------------------------------------------------------------------
 *  LEFT SIDE CONTENT
 * ----------------------------------------------------------------------------- */
#left_sidebar {
    background:#f0f0f0;
    border-right:2px solid #aaa;
    width:23%;
    float:left;
    height:60%;
    min-height:700px;
    /*position:fixed;*/
}

    .search_form {
        background:#f2f2f2;
        padding:20px 10px;
        margin:0;
    }
    .search_form input[type="text"] {
		background: #F9F9F9;
		border-color: #A0A0A0 #DDDDDD #DDDDDD #A0A0A0;
		border-radius: 4px;
		border-style: solid;
		border-width: 1px;
		padding: 2px 5px 3px;
		width:170px; height:18px;
	}
	
	
    .search_form button {
        margin-top:-10px;
		padding:2px 8px;
		border:0;
		background:#39B5E8;
		background: -webkit-gradient(linear, left top, left bottom, from(#39B5E8), to(#0481B1)); 
		background: -moz-linear-gradient(top,  #39B5E8,  #0481B1);
		background-image: -o-linear-gradient(#39B5E8, #0481B1); 
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#39B5E8', endColorstr='#0481B1'); 
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#39B5E8, endColorstr=#0481B1)"; 
		box-shadow:0px 1px 3px #ccc;
		color:#fff;
		text-shadow:1px 1px 1px #000;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		cursor:pointer;
	}
    .search_form button:hover {
		background:#39B5E8;
	}




#left_sidebar .history_list {
    display:block;
    border-top:1px solid #e7edf6;
}
#left_sidebar .history_list a {
    display:block;
    padding:5px 10px;
    border-top:1px solid #65686c;
}
#left_sidebar .history_list a:hover {
    background:#f2f2f2;
}

/* -----------------------------------------------------------------------------
 * Main Content
 * ----------------------------------------------------------------------------- */
#content {
    float:left;
    width:70%;
    padding:20px 40px 20px 20px;
}

 
/*why call avatar avatar when it is not? try .picpod */    
        .picpod {
        float:left;
        margin-right:20px;
        width:200px;
        //height:auto;
        max-height: 440px;
        overflow: hidden;    
        box-shadow:0 0 3px #bebdbe;
        border:1px solid #bebdbe;
        background:#fff;
        padding:5px;
        border-radius:3px;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        margin-bottom:60px;
    }
    .picpod:nth-child(3n+1) {
        clear:left
    }
    .picpod img {
        border-radius:3px;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        border:0;
        width:100%;
    }
    
     .picpod-buttons {
     float:none; padding:8px 0;}
     
     .picpod-buttons img{
     margin:6px 0; padding:0;}
    
    
.no_result {
    float: left;
    padding: 20px 40px 20px 270px;
    width: 77%;
}    