#aspenPromo_speaker:after, #speakerList .inner:after {
	content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}

#aspenMain {
	width:970px;
}

#aspenNav {
	float:left;
	margin:10px 0 12px 20px;
	width:660x;
}

#cta_tickets {
	float: left;
	width:270px;
	height:33px;
	margin:10px 0 0 15px;
	padding-top:14px;
	background:url(images/bg_cta_tickets_wide.gif) no-repeat 0 0;
	line-height:1.0em;
}

#kitchen-aid-adSP {
	float: right;
	width:143px;
	padding: 5px 10px 0 0;
}

#kitchen-aid-adSP img {
	float:left;
   width:143px;
   padding: 1px 0 0 0;
}

#kitchen-aid-adSP p {
	float:left;
   width:143px;
   font: bold 11px arial,sans-serif;
   color: #666;
   text-align: center;
}

#aspenPromo_speaker {
	float: left;
	margin:0 0 0 10px;
}

#ad_leaderboard {
	float:left;
	width: 648px;
	padding: 0 0 10px 10px;
}

#ad_leaderboard img {
	float:left;
	width: 648px;
}

#aspenBod {
	float:none;
	width:auto;
	padding:0;
	text-align:left;
}

#aspenBod h2 {
	text-transform:none;
	padding: 0;
}

#aspenBod p {
	text-align:center;
	text-transform:none;
	font-size:11px;
	color: #333;
	margin: 5px 0 0 0;
}

#speakerList {
	padding:20px 0 0 0;
	background:url(images/hr.gif) no-repeat 0 0;
	width: 950px;
	margin: 0 0 0 10px;
}

#speakerList .inner {
	background:url(images/vr.gif) no-repeat 440px 0;
}

#speakerList .speakerCat {
	float:left;
	width:460px;
	margin-left:10px;
}

#speakerList .first {
	margin:0 0 0 0;
}

#speakerList ul {
	float:left;
	width:190px;
	margin:0;
	padding:0 35px 0 0;
}

#speakerList ul li {
	list-style-type:none;
	margin-bottom:10px;
	line-height:1.2em;
}

#speakerList ul li strong {
	list-style-type:none;
	margin-bottom:10px;
	line-height:1.2em;
	font-size: 12px;
	font-weight: normal;
	color: #67AE3E;
}

#speakerList li a {
	display:block;
	font-family:arial;
	font-size:1.0em;
	color:#67ae3e;
}

#aspenFtr {
	margin: 5px 0 0 0;
	background:url(/promo/classic-in-aspen/images/2011/bg_ftr_wide.gif) no-repeat 0 0;
}

#aspenFtr a {
color:#FFF;
margin: 0 10px 0 50px;
}
